@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: mediumslateblue;
    color: white;
  }
  .cc {
    font-family: 'Rubik Iso', cursive;
  }
  .pop {
    font-family: "Poppins", sans-serif;
  }
  img {
    pointer-events: none;
  }
}
